<!DOCTYPE html>
<!--[if IE 8]>               <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>WebRadio</title>
  <link rel="stylesheet" href="{{STATIC_URL}}webradio/css/normalize.css" />
  <link rel="stylesheet" href="{{STATIC_URL}}webradio/css/foundation.css" />
  <script src="{{STATIC_URL}}webradio/js/vendor/custom.modernizr.js"></script>
</head>
<body>
<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a href="{% url "webradio.views.index" %}">WebRadio</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
  <ul class="right">
      <li class="divider"></li>
      <li><a href="{% url 'webradio_stations' %}">Stations</a></li>
      <li class="divider"></li>
      <li><a href="{% url 'webradio_player' %}">Now Playing</a></li>
      <li class="divider"></li>
      <li class="has-form"><a href="{% url 'admin:webradio_station_changelist' %}" class="button">Setup</a></li>
  </ul>
  </section>
</nav>

{% block content %}
{% endblock content %}

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? '{{STATIC_URL}}webradio/js/vendor/zepto' : '{{STATIC_URL}}webradio/js/vendor/jquery') +
  '.js><\/script>')
  </script>
  <script src="{{STATIC_URL}}webradio/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
  {% block script %}
  {% endblock script %}
</body>
</html>
